<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!--

Template 2093 Flight

http://www.tooplate.com/view/2093-flight

-->
    	<title>Flight - Travel and Tour</title>
    
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/fontAwesome.css">
        <link rel="stylesheet" href="css/hero-slider.css">
        <link rel="stylesheet" href="css/owl-carousel.css">
        <link rel="stylesheet" href="css/datepicker.css">
        <link rel="stylesheet" href="css/tooplate-style.css">
        <link rel="stylesheet" href="css/main.css">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

<body>

    
    <section class="banner" id="top">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="left-side">
                        <div class="logo">
                            <img src="img/logo.png" alt="Flight Template">
                        </div>
                    </div>
                </div>
                <div id="search-box" class="col-md-6 col-md-offset-1">
                    <section id="first-tab-group" class="tabgroup">
                        <div id="tab1">
                            <div class="submit-form">
                                <h4>Check availability for <em>direction</em>:</h4>
                                <form id="form-submit" action="" method="get">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <fieldset>
                                                <label for="from">From:</label>
                                                <select id="from-location-select" required name='from'>
                                                    <option value="">Select a location...</option>
                                                </select>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-6">
                                            <fieldset>
                                                <label for="to">To:</label>
                                                <select id="to-location-select" required name='to'>
                                                    <option value="">Select a location...</option>
                                                </select>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <fieldset>
                                                <label for="departure">Departure date:</label>
                                                <input type="datetime-local" id="departure-time" name="departuretime">
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <fieldset>
                                                <button type="submit" id="form-submit" class="btn">Search Flights</button>
                                            </fieldset>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>



    <div class="tabs-content" id="weather">
        <div class="container">
            <div class="row">

                <div id="filter-box" class="col-md-4">
                <div class="col-md-10 flit-sec no-padd sidebar-offcanvas" id="sidebar">
                    <div class="filt-bag">
                        <h2 class="txt-32"> FILTER <a style="color: #4263c1; float:right; width:40%; font-size:10px;" href="#" ng-click="ClearAllFilter()">CLEAR ALL</a> </h2>
                    </div>
                   <div class="row no-margn">
                        <div class="col-md-10 col-md-offset-1 col-xs-1 col-xs-offset-1 arrow-down sto1"></div>
                        <div class="col-md-10 col-xs-4 no-padd"> Price </div>
                        <div class="col-md-10 col-xs-5 no-padd">
                            <fieldset>
                                <label for="from">Sort By :</label>
                                <select id="price-sort-select" required name='from'>
                                    <option value="ASC">Low To High</option>
                                    <option value="DESC">High To Low</option>
                                </select>
                            </fieldset>
                        </div>
                    </div>

                <div class="row border-b3"></div>

                <div class="row no-margn">
                    
                    <div class="row no-margn">
                        <div class="col-md-10 col-md-offset-1 col-xs-1 col-xs-offset-1 arrow-down sto1"></div>
                        <div class="col-md-10 col-xs-4 no-padd"> Stops </div>
                        <div class="col-md-10 col-xs-5 no-padd">
                            <div class="row">
                                <input class="stop_button" type="radio" id="show-all-stops" name="stops" value="3" checked="checked">
                                <label for="3">Show All</label><br>
                            </div>
                            <div class="row">
                                <input class="stop_button" type="radio" id="no-stop" name="stops" value="0">
                                <label for="0">NonStop</label><br>
                            </div>
                            <div class="row">
                                <input class="stop_button" type="radio" id="one-stop" name="stops" value="1">
                                <label for="1">1 Stop</label>
                            </div>
                            <div class="row">
                                <input class="stop_button" type="radio" id="two-plus-stop" name="stops" value="2">
                                <label for="2">2+ Stops</label>
                            </div>
                        </div>
                    </div>
                    <div class="row border-b3"></div>
                    <div class="row no-margn">
                        <div class="col-md-10 col-md-offset-1 col-xs-1 col-xs-offset-1 arrow-down sto1"></div>
                        <div class="col-md-10 col-xs-4 no-padd"> Duration </div>
                        <div class="col-md-10 col-xs-5 no-padd">
                            <fieldset>
                                <label for="from">Sort By :</label>
                                <select id="duration-sort-select" required name='from'>
                                    <option value="ASC">Low To High</option>
                                    <option value="DESC">High To Low</option>
                                </select>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row border-b3"></div>
                    <div class="row no-margn">
                        <div class="col-md-10 col-md-offset-1 col-xs-1 col-xs-offset-1 arrow-down airl1"></div>
                        <div class="col-md-10 col-xs-4 no-padd"> Airlines </div>
                        <div class="col-md-10 col-xs-5 no-padd"><div class="shw">
						<label class="ctr_cbox">Show all
						 <input name="" class="airline ng-pristine ng-untouched ng-valid ng-not-empty" type="checkbox" value="" ng-model="ShowAllAirline" ng-click="ShowAll()" id="ShowAllFlight">
						  <span class="cmark_cbox"></span>
						</label>					
						</div></div>
                        <div class="clearfix"></div>
                        <div id="chkBoxMatrixAirlines" class="row no-margn airl1-sec pad-btm">
                            <!-- ngRepeat: (id, mdtl) in mtx --><div class="showOnlyNthAirlines ng-scope" data-ng-repeat="(id, mdtl) in mtx" ng-init="FillArrAirline()" data-my-repeat-directive-for-airlines="">
                                
                                <div class="col-md-10 col-xs-1 padd-lt19">
								<label class="ctr_cbox" style="float: left;">
  <input name="" class="airline" type="checkbox" value="" ng-mouseup="hideShow()" id="GoAir" ng-click="SetFilterValue('Airline',this.id,GetAirLineName(id))">
  <span class="cmark_cbox"></span>
</label>
								</div> 
                                <div class="col-md-10 img-p col-xs-2">
                                    <!-- following div for domestic -->
                                    <!-- ngIf: isDomestic --><div ng-if="isDomestic" class="airimgG8-ss"></div><!-- end ngIf: isDomestic -->
                                    <!-- following div for international -->
                                    <!-- ngIf: !isDomestic -->
                                </div>
                                <div class="col-md-10 col-xs-4 ft-10 no-padd ng-binding" ng-bind="GetAirLineName(id)">GoAir</div>
                                <div class="col-md-3 col-xs-3 ft-10 no-padd ng-binding">Rs. <span ng-bind="mdtl | split:'|':1" class="ng-binding">4218</span></div>
                                
                                <div class="clearfix"></div>
                            </div><!-- end ngRepeat: (id, mdtl) in mtx --><div class="showOnlyNthAirlines ng-scope" data-ng-repeat="(id, mdtl) in mtx" ng-init="FillArrAirline()" data-my-repeat-directive-for-airlines="">
                                
                                <div class="col-md-10 col-xs-1 padd-lt19">
								<label class="ctr_cbox" style="float: left;">
  <input name="" class="airline" type="checkbox" value="" ng-mouseup="hideShow()" id="SpiceJet" ng-click="SetFilterValue('Airline',this.id,GetAirLineName(id))">
  <span class="cmark_cbox"></span>
</label>
								</div> 
                                <div class="col-md-10 img-p col-xs-2">
                                    <!-- following div for domestic -->
                                    <!-- ngIf: isDomestic --><div ng-if="isDomestic" class="airimgSG-ss"></div><!-- end ngIf: isDomestic -->
                                    <!-- following div for international -->
                                    <!-- ngIf: !isDomestic -->
                                </div>
                                <div class="col-md-10 col-xs-4 ft-10 no-padd ng-binding" ng-bind="GetAirLineName(id)">SpiceJet</div>
                                <div class="col-md-10 col-xs-3 ft-10 no-padd ng-binding">Rs. <span ng-bind="mdtl | split:'|':1" class="ng-binding">4322</span></div>
                                
                                <div class="clearfix"></div>
                            </div><!-- end ngRepeat: (id, mdtl) in mtx --><div class="showOnlyNthAirlines ng-scope" data-ng-repeat="(id, mdtl) in mtx" ng-init="FillArrAirline()" data-my-repeat-directive-for-airlines="">
                                
                                <div class="col-md-10 col-xs-1 padd-lt19">
								<label class="ctr_cbox" style="float: left;">
  <input name="" class="airline" type="checkbox" value="" ng-mouseup="hideShow()" id="Indigo" ng-click="SetFilterValue('Airline',this.id,GetAirLineName(id))">
  <span class="cmark_cbox"></span>
</label>
								</div> 
                                <div class="col-md-10 img-p col-xs-2">
                                    <!-- following div for domestic -->
                                    <!-- ngIf: isDomestic --><div ng-if="isDomestic" class="airimg6E-ss"></div><!-- end ngIf: isDomestic -->
                                    <!-- following div for international -->
                                    <!-- ngIf: !isDomestic -->
                                </div>
                                <div class="col-md-10 col-xs-4 ft-10 no-padd ng-binding" ng-bind="GetAirLineName(id)">Indigo</div>
                                <div class="col-md-10 col-xs-3 ft-10 no-padd ng-binding">Rs. <span ng-bind="mdtl | split:'|':1" class="ng-binding">4583</span></div>
                                
                                <div class="clearfix"></div>
                            </div><!-- end ngRepeat: (id, mdtl) in mtx --><div class="showOnlyNthAirlines ng-scope" data-ng-repeat="(id, mdtl) in mtx" ng-init="FillArrAirline()" data-my-repeat-directive-for-airlines="">
                                
                                <div class="col-md-10 col-xs-1 padd-lt19">
								<label class="ctr_cbox" style="float: left;">
  <input name="" class="airline" type="checkbox" value="" ng-mouseup="hideShow()" id="Air India" ng-click="SetFilterValue('Airline',this.id,GetAirLineName(id))">
  <span class="cmark_cbox"></span>
</label>
								</div> 
                                <div class="col-md-10 img-p col-xs-2">
                                    <!-- following div for domestic -->
                                    <!-- ngIf: isDomestic --><div ng-if="isDomestic" class="airimgAI-ss"></div><!-- end ngIf: isDomestic -->
                                    <!-- following div for international -->
                                    <!-- ngIf: !isDomestic -->
                                </div>
                                <div class="col-md-10 col-xs-4 ft-10 no-padd ng-binding" ng-bind="GetAirLineName(id)">Air India</div>
                                <div class="col-md-10 col-xs-3 ft-10 no-padd ng-binding">Rs. <span ng-bind="mdtl | split:'|':1" class="ng-binding">4584</span></div>
                                
                                <div class="clearfix"></div>
                            </div><!-- end ngRepeat: (id, mdtl) in mtx -->
                        </div>
                        <div id="ShowMore"><a href="#"> More +</a></div>
                        <div id="ShowLess" style="display:none"><a href="#"> Show Less -</a></div>
                    </div>
                </div>
            </div>
            </div>
                <div class="col-md-8">
                    <table id="flight-details" border='1'>
                        
                    </table>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="primary-button">
                        <a href="#" class="scroll-top">Back To Top</a>
                    </div>
                </div>
                <div class="col-md-12">
                    <ul class="social-icons">
                        <li><a ><i class="fa fa-facebook"></i></a></li>
                        <li><a ><i class="fa fa-twitter"></i></a></li>
                        <li><a ><i class="fa fa-linkedin"></i></a></li>
                        <li><a ><i class="fa fa-rss"></i></a></li>
                        <li><a ><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="js/vendor/bootstrap.min.js"></script>
    
    <script src="js/datepicker.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(document).ready(function() {

        

        // navigation click actions 
        $('.scroll-link').on('click', function(event){
            event.preventDefault();
            var sectionID = $(this).attr("data-id");
            scrollToID('#' + sectionID, 750);
        });
        // scroll to top action
        $('.scroll-top').on('click', function(event) {
            event.preventDefault();
            $('html, body').animate({scrollTop:0}, 'slow');         
        });
        // mobile nav toggle
        $('#nav-toggle').on('click', function (event) {
            event.preventDefault();
            $('#main-nav').toggleClass("open");
        });
    });
    // scroll function
    function scrollToID(id, speed){
        var offSet = 0;
        var targetOffset = $(id).offset().top - offSet;
        var mainNav = $('#main-nav');
        $('html,body').animate({scrollTop:targetOffset}, speed);
        if (mainNav.hasClass("open")) {
            mainNav.css("height", "1px").removeClass("in").addClass("collapse");
            mainNav.removeClass("open");
        }
    }
    if (typeof console === "undefined") {
        console = {
            log: function() { }
        };
    }
    </script>
</body>
</html>